{% extends 'base.html' %}
{% load post_extras %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div>
    <a href="{% url 'post_list' %}">
        ← Назад к ленте
    </a>

    <article>
        <h1>{{ post.title }}</h1>
        <div>
            <span>@{{ post.author }}</span>
            <span>{{ post.created_at|smart_time }}</span>
        </div>

        <div>
            {{ post.content|linebreaks }}
        </div>

        {% if post.author == user or user.profile.is_moderator %}
            <div>
                <a href="{% url 'edit_post' post.id %}">Редактировать</a>
                <a href="{% url 'delete_post' post.id %}">Удалить</a>
            </div>

            {% if delete_confirm %}
            <div>
                <p>Удалить этот шедевр навсегда?</p>
                <form method="post" action="{% url 'delete_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit" name="confirm_delete">Да, удалить</button>
                    <a href="{% url 'post_details' post.id %}">Отмена</a>
                </form>
            </div>
            {% endif %}
        {% endif %}
    </article>

    <section>
        <h3>Обсуждение</h3>

        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.text }}
            </div>
            <button type="submit">
                Комментировать
            </button>
        </form>
        {% endif %}

        <div>
            {% for comment in comments %}
            <div>
                <div>
                    <span>@{{ comment.author.username }}</span>
                    <span>{{ comment.created_at|smart_time }}</span>
                </div>
                <p>{{ comment.text }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}