{% extends 'base.html' %}
{% block title %}Редактирование{% endblock %}

{% block content %}
<div>
    <a href="{% url 'post_details' form.instance.id %}">
        ← К просмотру поста
    </a>

    <div>
        <div>
            <div>
                🛠️
            </div>
            <div>
                <h1>Редактировать</h1>
                <p>Вносим правки в: <span>"{{ form.instance.title }}"</span></p>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}

            <div>
                {% for field in form %}
                    <div>
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            <div>
                <button type="submit">
                    Сохранить изменения
                </button>
                <a href="{% url 'post_list' %}">
                    Отмена
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}