{% extends 'base.html' %}
{% block title %}Профиль{% endblock %}

{% block content %}
<div>
    <div>
        <div></div>

        <div>
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Аватар">
            {% else %}
                <div>
                    👤
                </div>
            {% endif %}

            <h1>{{ user.username }}</h1>

            <div>
                {% if profile.bio %}
                    <p>"{{ profile.bio }}"</p>
                {% else %}
                    <p>Тут пока пусто. Расскажите о себе!</p>
                {% endif %}
            </div>

            <a href="{% url 'profile_edit' %}">
                ⚙️ Редактировать профиль
            </a>
        </div>
    </div>
</div>
{% endblock %}