{% extends 'base.html' %}
{% block title %}Настройка контента{% endblock %}

{% block content %}
<div>
    <h1>Настройка контента</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form }}
                {% if u_form %}{{ u_form }}{% endif %}
                {% if p_form %}{{ p_form }}{% endif %}
            </div>

            <div>
                <button type="submit">
                    Сохранить
                </button>
                <a href="{% url 'post_list' %}">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}