{% extends 'base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<div>
    <div>
        <h1>С возвращением!</h1>
        <p>Войдите, чтобы продолжить поток</p>

        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div>
                {{ form }}
            </div>
            <button type="submit">
                Войти
            </button>
        </form>

        <div>
            <span>Еще нет аккаунта?
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            </span>
        </div>
    </div>
</div>
{% endblock %}