{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div>
    <div>
        <h1>Регистрация</h1>
        <p>Зарегистрируйтесь, чтобы начать поток</p>

        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div>
                {{ form }}
            </div>
            <button type="submit">
                Зарегистрироваться
            </button>
        </form>

        <div>
            <span>Уже есть аккаунт?
                <a href="{% url 'login' %}">Войти</a>
            </span>
        </div>
    </div>
</div>
{% endblock %}